vagrant/
*.pyc
.idea
reddwarf_test.sqlite
.venv
run_tests.log
guest-agent-files.txt
reddwarf.egg*
trove.egg*
reddwarf/vcsversion.py
*py*.egg
.coverage
cover/
.DS_Store
dist/
host-syslog.log
tags
.tox
rdtest.log
reddwarf/versioninfo
AUTHORS
ChangeLog
reddwarf.iml
atlassian-ide-plugin.xml
.testrepository
.pid
.project
.pydevproject
