vagrant/
*.pyc
.idea
trove_test.sqlite
.venv
run_tests.log
guest-agent-files.txt
trove.egg*
trove/vcsversion.py
*py*.egg
.coverage
cover/
.DS_Store
dist/
host-syslog.log
tags
.tox
trovetest.log
trove/versioninfo
AUTHORS
ChangeLog
trove.iml
atlassian-ide-plugin.xml
.testrepository
.pid
.project
.pydevproject

# Sphinx
doc/build/*
doc/source/api/*
