include AUTHORS
include ChangeLog

include trove/db/sqlalchemy/migrate_repo/migrate.cfg
include trove/db/sqlalchemy/migrate_repo/README
include trove/db/sqlalchemy/migrate_repo/versions/*.sql
include etc/trove/*.*

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
