d2to1>=0.2.10,<0.3
pbr>=0.5,<0.6
SQLAlchemy>=0.7.8,<=0.7.9
eventlet
extras
kombu==1.5.1
routes
WebOb
PasteDeploy
paste
sqlalchemy-migrate>=0.7.2
netaddr
factory_boy
httplib2
lxml
python-novaclient
python-keystoneclient
python-swiftclient
iso8601
oslo.config>=1.1.0
