d2to1>=0.2.10,<0.3
pbr>=0.5.16,<0.6
SQLAlchemy>=0.7,<=0.7.99
eventlet
extras
kombu>2.4.7
routes
WebOb
PasteDeploy
paste
sqlalchemy-migrate>=0.7.2
netaddr
httplib2
lxml
python-heatclient>=0.2.3
python-novaclient
python-cinderclient>=1.0.4
python-keystoneclient
python-swiftclient
iso8601
jsonschema>=1.3.0,!=1.4.0
Jinja2
pexpect
-f http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a3.tar.gz#egg=oslo.config-1.2.0a3
oslo.config>=1.2.0a3
mysql-python
Babel>=0.9.6
