# Hacking already pins down pep8, pyflakes and flake8
hacking>=0.8.0,<0.9
sphinx>=1.1.2,<1.2
oslosphinx

coverage>=3.6
nose
nosexcover
openstack-doc-tools>=0.13
openstack.nose_plugin>=0.7
WebTest>=2.0
wsgi_intercept>=0.6.1 # MIT License
proboscis==1.2.5.3
http://tarballs.openstack.org/python-troveclient/python-troveclient-master.tar.gz#egg=python-troveclient
mock>=1.0
mox>=0.5.3
testtools>=0.9.34
discover
testrepository>=0.0.18
six>=1.6.0

