# Hacking already pins down pep8, pyflakes and flake8
hacking>=7.0.0,<7.1.0 # Apache-2.0
bandit[baseline]>=1.7.7 # Apache-2.0
coverage!=4.4,>=4.0 # Apache-2.0
WebTest>=2.0.27 # MIT
wsgi-intercept>=1.4.1 # MIT License
python-troveclient>=2.2.0 # Apache-2.0
testtools>=2.2.0 # MIT
stestr>=1.1.0 # Apache-2.0
doc8>=0.8.1 # Apache-2.0
astroid==1.6.5 # LGPLv2.1
oslotest>=3.2.0 # Apache-2.0
tenacity>=4.9.0  # Apache-2.0
# Docs building
openstackdocstheme>=2.2.1 # Apache-2.0
os-api-ref>=1.4.0 # Apache-2.0
reno>=3.1.0 # Apache-2.0
