# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
flake8==2.0
hacking>=0.8.0,<0.9
sphinx>=1.1.2,<1.2

coverage>=3.6
nose
nosexcover
openstack.nose_plugin>=0.7
WebTest>=2.0
wsgi_intercept
proboscis==1.2.5.3
http://tarballs.openstack.org/python-troveclient/python-troveclient-master.tar.gz#egg=python-troveclient
mock>=1.0
mox>=0.5.3
testtools>=0.9.32
discover
testrepository>=0.0.17
