[DEFAULT]
# Show more verbose log output (sets INFO log level output)
verbose = True

# Show debugging output in logs (sets DEBUG log level output)
debug = True

# Address to bind the API server
bind_host = 0.0.0.0

# Port the bind the API server to
bind_port = 8779

# AMQP Connection info
rabbit_password=f7999d1955c5014aa32c

# SQLAlchemy connection string for the reference implementation
# registry server. Any valid SQLAlchemy connection string is fine.
# See: http://www.sqlalchemy.org/docs/05/reference/sqlalchemy/connections.html#sqlalchemy.create_engine
# sql_connection = sqlite:///reddwarf_test.sqlite
sql_connection = mysql://root:e1a2c042c828d3566d0a@localhost/reddwarf
#sql_connection = postgresql://reddwarf:reddwarf@localhost/reddwarf

# Period in seconds after which SQLAlchemy should reestablish its connection
# to the database.
#
# MySQL uses a default `wait_timeout` of 8 hours, after which it will drop
# idle connections. This can result in 'MySQL Gone Away' exceptions. If you
# notice this, you can lower this value to ensure that SQLAlchemy reconnects
# before MySQL can drop the connection.
sql_idle_timeout = 3600

#DB Api Implementation
db_api_implementation = "reddwarf.db.sqlalchemy.api"

# Path to the extensions
api_extensions_path = reddwarf/extensions

# Configuration options for talking to nova via the novaclient.
reddwarf_auth_url = http://0.0.0.0:5000/v2.0
nova_compute_url = http://localhost:8774/v2
nova_volume_url = http://localhost:8776/v1

# Config option for showing the IP address that nova doles out
add_addresses = True

# Config options for enabling volume service
reddwarf_volume_support = True
block_device_mapping = /var/lib/mysql
device_path = /var/lib/mysql
mount_point = /var/lib/mysql
max_accepted_volume_size = 10
max_instances_per_user = 5
volume_time_out=30

# Reddwarf DNS
reddwarf_dns_support = False

# Taskmanager queue name
taskmanager_queue = taskmanager

# Auth
admin_roles = admin

# Users to ignore for user create/list/delete operations
ignore_users = os_admin

# Guest related conf
agent_heartbeat_time = 10
agent_call_low_timeout = 5
agent_call_high_timeout = 100

# ============ notifer queue kombu connection options ========================

notifier_queue_hostname = localhost
notifier_queue_userid = guest
notifier_queue_password = guest
notifier_queue_ssl = False
notifier_queue_port = 5672
notifier_queue_virtual_host = /
notifier_queue_transport = memory

# ============ Logging information =============================
#log_dir = /integration/report
#log_file = reddwarf-api.log

[composite:reddwarf]
use = call:reddwarf.common.wsgi:versioned_urlmap
/: versions
/v1.0: reddwarfapi

[app:versions]
paste.app_factory = reddwarf.versions:app_factory

[pipeline:reddwarfapi]
pipeline = faultwrapper tokenauth authorization contextwrapper extensions reddwarfapp
#pipeline = debug extensions reddwarfapp

[filter:extensions]
paste.filter_factory = reddwarf.common.extensions:factory

[filter:tokenauth]
paste.filter_factory = keystone.middleware.auth_token:filter_factory
service_protocol = http
service_host = 127.0.0.1
service_port = 5000
auth_host = 127.0.0.1
auth_port = 35357
auth_protocol = http
auth_uri = http://127.0.0.1:5000/
admin_token = be19c524ddc92109a224

[filter:authorization]
paste.filter_factory = reddwarf.common.auth:AuthorizationMiddleware.factory

[filter:contextwrapper]
paste.filter_factory = reddwarf.common.wsgi:ContextMiddleware.factory

[filter:faultwrapper]
paste.filter_factory = reddwarf.common.wsgi:FaultWrapper.factory

[app:reddwarfapp]
paste.app_factory = reddwarf.common.api:app_factory

#Add this filter to log request and response for debugging
[filter:debug]
paste.filter_factory = reddwarf.common.wsgi:Debug
