[Unit]
Description=OpenStack Trove Guest Log Collection Service

[Service]
Type=oneshot
User=ubuntu
Group=ubuntu

EnvironmentFile=/etc/trove/controller.conf

EnvironmentFile=/etc/trove/conf.d/guest_info.conf

ExecStart=/bin/bash -c "sudo rsync -e 'ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i /home/GUEST_USERNAME/.ssh/id_rsa' -az --exclude='.*' /var/log /var/lib/docker/containers HOST_SCP_USERNAME@$CONTROLLER:/var/log/guest-agent-logs/$guest_id"