[Unit]
Description=OpenStack Trove Guest Log Collection Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

EnvironmentFile=/etc/trove/controller.conf
EnvironmentFile=/etc/trove/conf.d/guest_info.conf

# All source directories should be present
ExecStartPre=/usr/bin/mkdir -p /var/lib/docker/containers /var/log/trove
ExecStart=/usr/bin/lsyncd -nodaemon -log scarce /etc/lsyncd.conf.lua

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
