[Unit]
Description=OpenStack Trove image loader Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/trove/controller.conf
ExecStartPre=/usr/local/sbin/fix-default-route
User=root
Group=root
EnvironmentFile=/etc/trove/controller.conf
ExecStart=/usr/local/sbin/trove-image-loader

[Install]
WantedBy=multi-user.target
