[DEFAULT]
verbose = True
debug = True
control_exchange = trove
trove_auth_url = http://0.0.0.0:5000/v2.0
nova_proxy_admin_pass = 3de4922d8b6ac5a1aad9
nova_proxy_admin_tenant_name = admin
nova_proxy_admin_user = admin
sql_connection = mysql://root:e1a2c042c828d3566d0a@localhost/trove

# The RabbitMQ broker address where a single node is used.
# (string value)
#rabbit_host=localhost

# The RabbitMQ broker port where a single node is used.
# (integer value)
#rabbit_port=5672

# RabbitMQ HA cluster host:port pairs. (list value)
#rabbit_hosts=$rabbit_host:$rabbit_port

# Connect over SSL for RabbitMQ. (boolean value)
#rabbit_use_ssl=false

# The RabbitMQ userid. (string value)
#rabbit_userid=guest

# The RabbitMQ password. (string value)
rabbit_password=f7999d1955c5014aa32c

# The RabbitMQ virtual host. (string value)
#rabbit_virtual_host=/

# RabbitMQ topic used for OpenStack notifications. (list value)
#rabbit_notification_topic = ['notifications']

rpc_backend = trove.openstack.common.rpc.impl_kombu
