[mysqld]
log_bin = /var/lib/mysql/data/mysql-bin.log
binlog_format = MIXED
relay_log = /var/lib/mysql/data/mysql-relay-bin.log
relay_log_info_repository = TABLE
relay_log_recovery = 1
relay_log_purge = 1
log_slave_updates = ON
enforce_gtid_consistency = ON
gtid_mode = ON
read_only = true
