{
  "always_error_messages": [
    "Undefined variable '_'",
    "Undefined variable '_LC'",
    "Undefined variable '_LE'",
    "Undefined variable '_LI'",
    "Undefined variable '_LW'"
  ],
  "folder": "trove",
  "ignored_codes": [],
  "ignored_file_code_messages": [
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'deleted' member",
      "Backup.list"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'id' member",
      "Backup.running"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'instance_id' member",
      "Backup.fail_for_instance"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'instance_id' member",
      "Backup.running"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'state' member",
      "Backup.fail_for_instance"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'state' member",
      "Backup.running"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'tenant_id' member",
      "Backup.list"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBBackup' has no 'updated' member",
      "Backup._paginate"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Class 'DBDatastoreVersion' has no 'datastore_id' member",
      "Backup.list"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'validate_can_perform_action' member",
      "Backup.create._create_resources"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'checksum' member",
      "DBBackup.check_swift_object_exist"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'datastore_version_id' member",
      "DBBackup.datastore"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'datastore_version_id' member",
      "DBBackup.datastore_version"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'id' member",
      "DBBackup.check_swift_object_exist"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'location' member",
      "DBBackup.check_swift_object_exist"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'location' member",
      "DBBackup.filename"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'state' member",
      "DBBackup.is_done"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'state' member",
      "DBBackup.is_done_successfuly"
    ],
    [
      "trove/backup/models.py",
      "E1101",
      "Instance of 'DBBackup' has no 'state' member",
      "DBBackup.is_running"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'deleted' member",
      "Backup.list"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'id' member",
      "Backup.running"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'instance_id' member",
      "Backup.fail_for_instance"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'instance_id' member",
      "Backup.running"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'state' member",
      "Backup.fail_for_instance"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'state' member",
      "Backup.running"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'tenant_id' member",
      "Backup.list"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBBackup' has no 'updated' member",
      "Backup._paginate"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Class 'DBDatastoreVersion' has no 'datastore_id' member",
      "Backup.list"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'validate_can_perform_action' member",
      "Backup.create._create_resources"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'checksum' member",
      "DBBackup.check_swift_object_exist"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'datastore_version_id' member",
      "DBBackup.datastore"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'datastore_version_id' member",
      "DBBackup.datastore_version"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'id' member",
      "DBBackup.check_swift_object_exist"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'location' member",
      "DBBackup.check_swift_object_exist"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'location' member",
      "DBBackup.filename"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'state' member",
      "DBBackup.is_done"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'state' member",
      "DBBackup.is_done_successfuly"
    ],
    [
      "trove/backup/models.py",
      "no-member",
      "Instance of 'DBBackup' has no 'state' member",
      "DBBackup.is_running"
    ],
    [
      "trove/cmd/manage.py",
      "E1101",
      "Class 'Commands' has no 'has' member",
      "Commands.params_of"
    ],
    [
      "trove/cmd/manage.py",
      "no-member",
      "Class 'Commands' has no 'has' member",
      "Commands.params_of"
    ],
    [
      "trove/common/extensions.py",
      "E1003",
      "Bad first argument 'ExtensionMiddleware' given to super()",
      "TroveExtensionMiddleware.__init__"
    ],
    [
      "trove/common/extensions.py",
      "E1101",
      "Module 'lxml.etree' has no 'Element' member",
      "ExtensionsXMLSerializer._populate_ext"
    ],
    [
      "trove/common/extensions.py",
      "E1101",
      "Module 'lxml.etree' has no 'Element' member",
      "ExtensionsXMLSerializer.index"
    ],
    [
      "trove/common/extensions.py",
      "E1101",
      "Module 'lxml.etree' has no 'Element' member",
      "ExtensionsXMLSerializer.show"
    ],
    [
      "trove/common/extensions.py",
      "E1101",
      "Module 'lxml.etree' has no 'SubElement' member",
      "ExtensionsXMLSerializer._populate_ext"
    ],
    [
      "trove/common/extensions.py",
      "E1101",
      "Module 'lxml.etree' has no 'SubElement' member",
      "ExtensionsXMLSerializer.index"
    ],
    [
      "trove/common/extensions.py",
      "E1101",
      "Module 'lxml.etree' has no 'tostring' member",
      "ExtensionsXMLSerializer._to_xml"
    ],
    [
      "trove/common/extensions.py",
      "bad-super-call",
      "Bad first argument 'ExtensionMiddleware' given to super()",
      "TroveExtensionMiddleware.__init__"
    ],
    [
      "trove/common/extensions.py",
      "no-member",
      "Module 'lxml.etree' has no 'Element' member",
      "ExtensionsXMLSerializer._populate_ext"
    ],
    [
      "trove/common/extensions.py",
      "no-member",
      "Module 'lxml.etree' has no 'Element' member",
      "ExtensionsXMLSerializer.index"
    ],
    [
      "trove/common/extensions.py",
      "no-member",
      "Module 'lxml.etree' has no 'Element' member",
      "ExtensionsXMLSerializer.show"
    ],
    [
      "trove/common/extensions.py",
      "no-member",
      "Module 'lxml.etree' has no 'SubElement' member",
      "ExtensionsXMLSerializer._populate_ext"
    ],
    [
      "trove/common/extensions.py",
      "no-member",
      "Module 'lxml.etree' has no 'SubElement' member",
      "ExtensionsXMLSerializer.index"
    ],
    [
      "trove/common/extensions.py",
      "no-member",
      "Module 'lxml.etree' has no 'tostring' member",
      "ExtensionsXMLSerializer._to_xml"
    ],
    [
      "trove/common/models.py",
      "E1101",
      "Instance of 'ModelBase' has no 'id' member",
      "ModelBase.__eq__"
    ],
    [
      "trove/common/models.py",
      "E1101",
      "Instance of 'ModelBase' has no 'id' member",
      "ModelBase.__hash__"
    ],
    [
      "trove/common/models.py",
      "no-member",
      "Instance of 'ModelBase' has no 'id' member",
      "ModelBase.__eq__"
    ],
    [
      "trove/common/models.py",
      "no-member",
      "Instance of 'ModelBase' has no 'id' member",
      "ModelBase.__hash__"
    ],
    [
      "trove/common/single_tenant_remote.py",
      "E0611",
      "No name 'v1_1' in module 'novaclient'",
      null
    ],
    [
      "trove/common/single_tenant_remote.py",
      "no-name-in-module",
      "No name 'v1_1' in module 'novaclient'",
      null
    ],
    [
      "trove/common/strategies/cluster/experimental/mongodb/api.py",
      "E1101",
      "Instance of 'API' has no 'get_key' member",
      "MongoDbCluster.add_shard"
    ],
    [
      "trove/common/strategies/cluster/experimental/mongodb/api.py",
      "E1101",
      "Instance of 'API' has no 'mongodb_add_shard_cluster' member",
      "MongoDbCluster.add_shard"
    ],
    [
      "trove/common/strategies/cluster/experimental/mongodb/api.py",
      "no-member",
      "Instance of 'API' has no 'get_key' member",
      "MongoDbCluster.add_shard"
    ],
    [
      "trove/common/strategies/cluster/experimental/mongodb/api.py",
      "no-member",
      "Instance of 'API' has no 'mongodb_add_shard_cluster' member",
      "MongoDbCluster.add_shard"
    ],
    [
      "trove/common/utils.py",
      "E1127",
      "Slice index is not an int, None, or instance with __index__",
      "MethodInspector.optional_args"
    ],
    [
      "trove/common/utils.py",
      "E1127",
      "Slice index is not an int, None, or instance with __index__",
      "MethodInspector.required_args"
    ],
    [
      "trove/common/utils.py",
      "invalid-slice-index",
      "Slice index is not an int, None, or instance with __index__",
      "MethodInspector.optional_args"
    ],
    [
      "trove/common/utils.py",
      "invalid-slice-index",
      "Slice index is not an int, None, or instance with __index__",
      "MethodInspector.required_args"
    ],
    [
      "trove/common/wsgi.py",
      "E0102",
      "class already defined line 43",
      "Router"
    ],
    [
      "trove/common/wsgi.py",
      "E0102",
      "class already defined line 46",
      "JSONDictSerializer"
    ],
    [
      "trove/common/wsgi.py",
      "function-redefined",
      "class already defined line 43",
      "Router"
    ],
    [
      "trove/common/wsgi.py",
      "function-redefined",
      "class already defined line 46",
      "JSONDictSerializer"
    ],
    [
      "trove/configuration/models.py",
      "E1101",
      "Instance of 'DBConfiguration' has no 'datastore_version_id' member",
      "DBConfiguration.datastore"
    ],
    [
      "trove/configuration/models.py",
      "E1101",
      "Instance of 'DBConfiguration' has no 'datastore_version_id' member",
      "DBConfiguration.datastore_version"
    ],
    [
      "trove/configuration/models.py",
      "E1101",
      "Instance of 'DBConfigurationParameter' has no 'configuration_key' member",
      "DBConfigurationParameter.__hash__"
    ],
    [
      "trove/configuration/models.py",
      "no-member",
      "Instance of 'DBConfiguration' has no 'datastore_version_id' member",
      "DBConfiguration.datastore"
    ],
    [
      "trove/configuration/models.py",
      "no-member",
      "Instance of 'DBConfiguration' has no 'datastore_version_id' member",
      "DBConfiguration.datastore_version"
    ],
    [
      "trove/configuration/models.py",
      "no-member",
      "Instance of 'DBConfigurationParameter' has no 'configuration_key' member",
      "DBConfigurationParameter.__hash__"
    ],
    [
      "trove/configuration/service.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'update_configuration' member",
      "ConfigurationsController._refresh_on_all_instances"
    ],
    [
      "trove/configuration/service.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'update_configuration' member",
      "ConfigurationsController._refresh_on_all_instances"
    ],
    [
      "trove/datastore/models.py",
      "E1101",
      "Class 'DBDatastoreVersion' has no 'active' member",
      "Datastores.load"
    ],
    [
      "trove/datastore/models.py",
      "E1101",
      "Instance of 'BaseCapability' has no 'name' member",
      "BaseCapability.__repr__"
    ],
    [
      "trove/datastore/models.py",
      "no-member",
      "Class 'DBDatastoreVersion' has no 'active' member",
      "Datastores.load"
    ],
    [
      "trove/datastore/models.py",
      "no-member",
      "Instance of 'BaseCapability' has no 'name' member",
      "BaseCapability.__repr__"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/007_add_volume_flavor.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/007_add_volume_flavor.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/008_add_instance_fields.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/008_add_instance_fields.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/009_add_deleted_flag_to_instances.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/009_add_deleted_flag_to_instances.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/015_add_service_type.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/015_add_service_type.py",
      "E1120",
      "No value for argument 'dml' in method call",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/015_add_service_type.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/015_add_service_type.py",
      "no-value-for-parameter",
      "No value for argument 'dml' in method call",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/016_add_datastore_type.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/016_add_datastore_type.py",
      "E1101",
      "Instance of 'Table' has no 'drop_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/016_add_datastore_type.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/016_add_datastore_type.py",
      "no-member",
      "Instance of 'Table' has no 'drop_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/017_update_datastores.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/017_update_datastores.py",
      "E1101",
      "Instance of 'Table' has no 'drop_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/017_update_datastores.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/017_update_datastores.py",
      "no-member",
      "Instance of 'Table' has no 'drop_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/020_configurations.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/020_configurations.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/022_add_backup_parent_id.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/022_add_backup_parent_id.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/029_add_backup_datastore.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/029_add_backup_datastore.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/030_add_master_slave.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/030_add_master_slave.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/031_add_timestamps_to_configurations.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/031_add_timestamps_to_configurations.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/032_clusters.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/032_clusters.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/039_region.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/039_region.py",
      "E1120",
      "No value for argument 'dml' in method call",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/039_region.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/039_region.py",
      "no-value-for-parameter",
      "No value for argument 'dml' in method call",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/040_module_priority.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/040_module_priority.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/041_instance_keys.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/041_instance_keys.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/042_add_cluster_configuration_id.py",
      "E1101",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migrate_repo/versions/042_add_cluster_configuration_id.py",
      "no-member",
      "Instance of 'Table' has no 'create_column' member",
      "upgrade"
    ],
    [
      "trove/db/sqlalchemy/migration.py",
      "E0611",
      "No name 'exceptions' in module 'migrate.versioning'",
      null
    ],
    [
      "trove/db/sqlalchemy/migration.py",
      "E1120",
      "No value for argument 'repo_path' in function call",
      "version_control"
    ],
    [
      "trove/db/sqlalchemy/migration.py",
      "no-name-in-module",
      "No name 'exceptions' in module 'migrate.versioning'",
      null
    ],
    [
      "trove/db/sqlalchemy/migration.py",
      "no-value-for-parameter",
      "No value for argument 'repo_path' in function call",
      "version_control"
    ],
    [
      "trove/dns/designate/driver.py",
      "E1101",
      "Instance of 'Client' has no 'domains' member",
      "DesignateDriver.get_dns_zones"
    ],
    [
      "trove/dns/designate/driver.py",
      "E1101",
      "Instance of 'Client' has no 'records' member",
      "DesignateDriver._get_records"
    ],
    [
      "trove/dns/designate/driver.py",
      "E1101",
      "Instance of 'Client' has no 'records' member",
      "DesignateDriver.create_entry"
    ],
    [
      "trove/dns/designate/driver.py",
      "E1101",
      "Instance of 'Client' has no 'records' member",
      "DesignateDriver.delete_entry"
    ],
    [
      "trove/dns/designate/driver.py",
      "no-member",
      "Instance of 'Client' has no 'domains' member",
      "DesignateDriver.get_dns_zones"
    ],
    [
      "trove/dns/designate/driver.py",
      "no-member",
      "Instance of 'Client' has no 'records' member",
      "DesignateDriver._get_records"
    ],
    [
      "trove/dns/designate/driver.py",
      "no-member",
      "Instance of 'Client' has no 'records' member",
      "DesignateDriver.create_entry"
    ],
    [
      "trove/dns/designate/driver.py",
      "no-member",
      "Instance of 'Client' has no 'records' member",
      "DesignateDriver.delete_entry"
    ],
    [
      "trove/extensions/common/service.py",
      "E1101",
      "Instance of 'DefaultRootController' has no '_find_root_user' member",
      "DefaultRootController.root_delete"
    ],
    [
      "trove/extensions/common/service.py",
      "no-member",
      "Instance of 'DefaultRootController' has no '_find_root_user' member",
      "DefaultRootController.root_delete"
    ],
    [
      "trove/extensions/mgmt/instances/service.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'get_diagnostics' member",
      "MgmtInstanceController.diagnostics"
    ],
    [
      "trove/extensions/mgmt/instances/service.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'get_hwinfo' member",
      "MgmtInstanceController.hwinfo"
    ],
    [
      "trove/extensions/mgmt/instances/service.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'rpc_ping' member",
      "MgmtInstanceController.rpc_ping"
    ],
    [
      "trove/extensions/mgmt/instances/service.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'get_diagnostics' member",
      "MgmtInstanceController.diagnostics"
    ],
    [
      "trove/extensions/mgmt/instances/service.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'get_hwinfo' member",
      "MgmtInstanceController.hwinfo"
    ],
    [
      "trove/extensions/mgmt/instances/service.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'rpc_ping' member",
      "MgmtInstanceController.rpc_ping"
    ],
    [
      "trove/extensions/security_group/models.py",
      "E1101",
      "Instance of 'SecurityGroup' has no 'id' member",
      "SecurityGroup.delete"
    ],
    [
      "trove/extensions/security_group/models.py",
      "E1101",
      "Instance of 'SecurityGroup' has no 'id' member",
      "SecurityGroup.get_rules"
    ],
    [
      "trove/extensions/security_group/models.py",
      "E1101",
      "Instance of 'SecurityGroup' has no 'id' member",
      "SecurityGroup.instance_id"
    ],
    [
      "trove/extensions/security_group/models.py",
      "E1101",
      "Instance of 'SecurityGroupInstanceAssociation' has no 'security_group_id' member",
      "SecurityGroupInstanceAssociation.get_security_group"
    ],
    [
      "trove/extensions/security_group/models.py",
      "E1101",
      "Instance of 'SecurityGroupRule' has no 'group_id' member",
      "SecurityGroupRule.get_security_group"
    ],
    [
      "trove/extensions/security_group/models.py",
      "E1101",
      "Instance of 'SecurityGroupRule' has no 'id' member",
      "SecurityGroupRule.delete"
    ],
    [
      "trove/extensions/security_group/models.py",
      "no-member",
      "Instance of 'SecurityGroup' has no 'id' member",
      "SecurityGroup.delete"
    ],
    [
      "trove/extensions/security_group/models.py",
      "no-member",
      "Instance of 'SecurityGroup' has no 'id' member",
      "SecurityGroup.get_rules"
    ],
    [
      "trove/extensions/security_group/models.py",
      "no-member",
      "Instance of 'SecurityGroup' has no 'id' member",
      "SecurityGroup.instance_id"
    ],
    [
      "trove/extensions/security_group/models.py",
      "no-member",
      "Instance of 'SecurityGroupInstanceAssociation' has no 'security_group_id' member",
      "SecurityGroupInstanceAssociation.get_security_group"
    ],
    [
      "trove/extensions/security_group/models.py",
      "no-member",
      "Instance of 'SecurityGroupRule' has no 'group_id' member",
      "SecurityGroupRule.get_security_group"
    ],
    [
      "trove/extensions/security_group/models.py",
      "no-member",
      "Instance of 'SecurityGroupRule' has no 'id' member",
      "SecurityGroupRule.delete"
    ],
    [
      "trove/guestagent/datastore/experimental/cassandra/service.py",
      "E0611",
      "No name 'Cluster' in module 'cassandra.cluster'",
      null
    ],
    [
      "trove/guestagent/datastore/experimental/cassandra/service.py",
      "E0611",
      "No name 'NoHostAvailable' in module 'cassandra.cluster'",
      null
    ],
    [
      "trove/guestagent/datastore/experimental/cassandra/service.py",
      "E1101",
      "Instance of 'list' has no 'split' member",
      "CassandraApp.get_seeds"
    ],
    [
      "trove/guestagent/datastore/experimental/cassandra/service.py",
      "no-member",
      "Instance of 'list' has no 'split' member",
      "CassandraApp.get_seeds"
    ],
    [
      "trove/guestagent/datastore/experimental/cassandra/service.py",
      "no-name-in-module",
      "No name 'Cluster' in module 'cassandra.cluster'",
      null
    ],
    [
      "trove/guestagent/datastore/experimental/cassandra/service.py",
      "no-name-in-module",
      "No name 'NoHostAvailable' in module 'cassandra.cluster'",
      null
    ],
    [
      "trove/guestagent/datastore/experimental/redis/service.py",
      "E0701",
      "Bad except clauses order (ConnectionError is an ancestor class of BusyLoadingError)",
      "RedisAppStatus._get_actual_db_status"
    ],
    [
      "trove/guestagent/datastore/experimental/redis/service.py",
      "bad-except-order",
      "Bad except clauses order (ConnectionError is an ancestor class of BusyLoadingError)",
      "RedisAppStatus._get_actual_db_status"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "E1101",
      "Instance of 'Popen' has no 'pid' member",
      "BackupRunner.__exit__"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "E1101",
      "Instance of 'Popen' has no 'pid' member",
      "BackupRunner._run"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "E1101",
      "Instance of 'Popen' has no 'stdout' member",
      "BackupRunner.read"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "E1101",
      "Instance of 'Popen' has no 'terminate' member",
      "BackupRunner.__exit__"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "E1101",
      "Module 'eventlet.green.subprocess' has no 'PIPE' member",
      "BackupRunner._run"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "no-member",
      "Instance of 'Popen' has no 'pid' member",
      "BackupRunner.__exit__"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "no-member",
      "Instance of 'Popen' has no 'pid' member",
      "BackupRunner._run"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "no-member",
      "Instance of 'Popen' has no 'stdout' member",
      "BackupRunner.read"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "no-member",
      "Instance of 'Popen' has no 'terminate' member",
      "BackupRunner.__exit__"
    ],
    [
      "trove/guestagent/strategies/backup/base.py",
      "no-member",
      "Module 'eventlet.green.subprocess' has no 'PIPE' member",
      "BackupRunner._run"
    ],
    [
      "trove/guestagent/strategies/restore/base.py",
      "E1101",
      "Instance of 'Popen' has no 'stdin' member",
      "RestoreRunner._unpack"
    ],
    [
      "trove/guestagent/strategies/restore/base.py",
      "E1101",
      "Instance of 'RestoreRunner' has no 'base_restore_cmd' member",
      "RestoreRunner.__init__"
    ],
    [
      "trove/guestagent/strategies/restore/base.py",
      "E1101",
      "Module 'eventlet.green.subprocess' has no 'PIPE' member",
      "RestoreRunner._unpack"
    ],
    [
      "trove/guestagent/strategies/restore/base.py",
      "no-member",
      "Instance of 'Popen' has no 'stdin' member",
      "RestoreRunner._unpack"
    ],
    [
      "trove/guestagent/strategies/restore/base.py",
      "no-member",
      "Instance of 'RestoreRunner' has no 'base_restore_cmd' member",
      "RestoreRunner.__init__"
    ],
    [
      "trove/guestagent/strategies/restore/base.py",
      "no-member",
      "Module 'eventlet.green.subprocess' has no 'PIPE' member",
      "RestoreRunner._unpack"
    ],
    [
      "trove/guestagent/strategies/restore/experimental/postgresql_impl.py",
      "E1101",
      "Instance of 'PgBaseBackup' has no 'pgsql_restore_cmd' member",
      "PgBaseBackup.write_recovery_file"
    ],
    [
      "trove/guestagent/strategies/restore/experimental/postgresql_impl.py",
      "E1101",
      "Instance of 'Popen' has no 'stdin' member",
      "PgDump._execute_postgres_restore"
    ],
    [
      "trove/guestagent/strategies/restore/experimental/postgresql_impl.py",
      "E1101",
      "Module 'eventlet.green.subprocess' has no 'PIPE' member",
      "PgDump._execute_postgres_restore"
    ],
    [
      "trove/guestagent/strategies/restore/experimental/postgresql_impl.py",
      "no-member",
      "Instance of 'PgBaseBackup' has no 'pgsql_restore_cmd' member",
      "PgBaseBackup.write_recovery_file"
    ],
    [
      "trove/guestagent/strategies/restore/experimental/postgresql_impl.py",
      "no-member",
      "Instance of 'Popen' has no 'stdin' member",
      "PgDump._execute_postgres_restore"
    ],
    [
      "trove/guestagent/strategies/restore/experimental/postgresql_impl.py",
      "no-member",
      "Module 'eventlet.green.subprocess' has no 'PIPE' member",
      "PgDump._execute_postgres_restore"
    ],
    [
      "trove/instance/models.py",
      "E1101",
      "Class 'InstanceStatus' has no 'LOGGING' member",
      "SimpleInstance.status"
    ],
    [
      "trove/instance/models.py",
      "E1101",
      "Instance of 'DBInstance' has no 'encrypted_key' member",
      "DBInstance.key"
    ],
    [
      "trove/instance/models.py",
      "no-member",
      "Class 'InstanceStatus' has no 'LOGGING' member",
      "SimpleInstance.status"
    ],
    [
      "trove/instance/models.py",
      "no-member",
      "Instance of 'DBInstance' has no 'encrypted_key' member",
      "DBInstance.key"
    ],
    [
      "trove/instance/service.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'get_default_configuration_template' member",
      "InstanceController.configuration"
    ],
    [
      "trove/instance/service.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'get_default_configuration_template' member",
      "InstanceController.configuration"
    ],
    [
      "trove/module/models.py",
      "E1101",
      "Class 'DBModule' has no 'datastore_id' member",
      "Modules.add_datastore_filter"
    ],
    [
      "trove/module/models.py",
      "E1101",
      "Class 'DBModule' has no 'datastore_version_id' member",
      "Modules.add_ds_version_filter"
    ],
    [
      "trove/module/models.py",
      "E1101",
      "Class 'DBModule' has no 'id' member",
      "Modules.load_by_ids"
    ],
    [
      "trove/module/models.py",
      "E1101",
      "Class 'DBModule' has no 'tenant_id' member",
      "Modules.add_tenant_filter"
    ],
    [
      "trove/module/models.py",
      "E1101",
      "Class 'DBModule' has no 'tenant_id' member",
      "Modules.load"
    ],
    [
      "trove/module/models.py",
      "no-member",
      "Class 'DBModule' has no 'datastore_id' member",
      "Modules.add_datastore_filter"
    ],
    [
      "trove/module/models.py",
      "no-member",
      "Class 'DBModule' has no 'datastore_version_id' member",
      "Modules.add_ds_version_filter"
    ],
    [
      "trove/module/models.py",
      "no-member",
      "Class 'DBModule' has no 'id' member",
      "Modules.load_by_ids"
    ],
    [
      "trove/module/models.py",
      "no-member",
      "Class 'DBModule' has no 'tenant_id' member",
      "Modules.add_tenant_filter"
    ],
    [
      "trove/module/models.py",
      "no-member",
      "Class 'DBModule' has no 'tenant_id' member",
      "Modules.load"
    ],
    [
      "trove/quota/quota.py",
      "E1101",
      "Class 'Enum' has no 'COMMITTED' member",
      "DbQuotaDriver.commit"
    ],
    [
      "trove/quota/quota.py",
      "E1101",
      "Class 'Enum' has no 'RESERVED' member",
      "DbQuotaDriver.reserve"
    ],
    [
      "trove/quota/quota.py",
      "E1101",
      "Class 'Enum' has no 'ROLLEDBACK' member",
      "DbQuotaDriver.rollback"
    ],
    [
      "trove/quota/quota.py",
      "no-member",
      "Class 'Enum' has no 'COMMITTED' member",
      "DbQuotaDriver.commit"
    ],
    [
      "trove/quota/quota.py",
      "no-member",
      "Class 'Enum' has no 'RESERVED' member",
      "DbQuotaDriver.reserve"
    ],
    [
      "trove/quota/quota.py",
      "no-member",
      "Class 'Enum' has no 'ROLLEDBACK' member",
      "DbQuotaDriver.rollback"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'create_backup' member",
      "Manager.create_backup"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'detach_replica' member",
      "Manager.detach_replica"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'migrate' member",
      "Manager.migrate"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'reboot' member",
      "Manager.reboot"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'resize_flavor' member",
      "Manager.resize_flavor"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'resize_volume' member",
      "Manager.resize_volume"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'restart' member",
      "Manager.restart"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'upgrade' member",
      "Manager.upgrade"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'FreshInstance' has no 'create_instance' member",
      "Manager._create_instance"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'FreshInstance' has no 'create_instance' member",
      "Manager._create_replication_slave"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'FreshInstance' has no 'get_replication_master_snapshot' member",
      "Manager._create_replication_slave"
    ],
    [
      "trove/taskmanager/manager.py",
      "E1101",
      "Instance of 'FreshInstance' has no 'wait_for_instance' member",
      "Manager._create_instance"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'create_backup' member",
      "Manager.create_backup"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'detach_replica' member",
      "Manager.detach_replica"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'migrate' member",
      "Manager.migrate"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'reboot' member",
      "Manager.reboot"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'resize_flavor' member",
      "Manager.resize_flavor"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'resize_volume' member",
      "Manager.resize_volume"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'restart' member",
      "Manager.restart"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'upgrade' member",
      "Manager.upgrade"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'FreshInstance' has no 'create_instance' member",
      "Manager._create_instance"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'FreshInstance' has no 'create_instance' member",
      "Manager._create_replication_slave"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'FreshInstance' has no 'get_replication_master_snapshot' member",
      "Manager._create_replication_slave"
    ],
    [
      "trove/taskmanager/manager.py",
      "no-member",
      "Instance of 'FreshInstance' has no 'wait_for_instance' member",
      "Manager._create_instance"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'backup_required_for_replication' member",
      "FreshInstanceTasks.get_replication_master_snapshot"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'BuiltInstance' has no 'get_replication_snapshot' member",
      "FreshInstanceTasks.get_replication_master_snapshot"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'ResizeActionBase' has no '_assert_nova_action_was_successful' member",
      "ResizeActionBase._perform_nova_action"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'ResizeActionBase' has no '_initiate_nova_action' member",
      "ResizeActionBase._perform_nova_action"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'ResizeActionBase' has no '_record_action_success' member",
      "ResizeActionBase._perform_nova_action"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'ResizeActionBase' has no '_start_datastore' member",
      "ResizeActionBase._assert_datastore_is_ok"
    ],
    [
      "trove/taskmanager/models.py",
      "E1101",
      "Instance of 'str' has no 'render' member",
      "FreshInstanceTasks._create_server_volume_heat"
    ],
    [
      "trove/taskmanager/models.py",
      "E1123",
      "Unexpected keyword argument 'recover_func' in method call",
      "ResizeVolumeAction._resize_active_volume"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'backup_required_for_replication' member",
      "FreshInstanceTasks.get_replication_master_snapshot"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'BuiltInstance' has no 'get_replication_snapshot' member",
      "FreshInstanceTasks.get_replication_master_snapshot"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'ResizeActionBase' has no '_assert_nova_action_was_successful' member",
      "ResizeActionBase._perform_nova_action"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'ResizeActionBase' has no '_initiate_nova_action' member",
      "ResizeActionBase._perform_nova_action"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'ResizeActionBase' has no '_record_action_success' member",
      "ResizeActionBase._perform_nova_action"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'ResizeActionBase' has no '_start_datastore' member",
      "ResizeActionBase._assert_datastore_is_ok"
    ],
    [
      "trove/taskmanager/models.py",
      "no-member",
      "Instance of 'str' has no 'render' member",
      "FreshInstanceTasks._create_server_volume_heat"
    ],
    [
      "trove/taskmanager/models.py",
      "unexpected-keyword-arg",
      "Unexpected keyword argument 'recover_func' in method call",
      "ResizeVolumeAction._resize_active_volume"
    ]
  ],
  "ignored_file_codes": [],
  "ignored_file_messages": [],
  "ignored_files": [
    "trove/tests"
  ],
  "ignored_messages": [],
  "include": [
    "*.py"
  ],
  "options": [
    "--rcfile=./pylintrc",
    "-E"
  ]
}