*.sublime-project
*.sublime-workspace
scripts/.screenrc
scripts/test-def.conf
.tox
*.pyc
*.coverage
tests/integration/Reddwarf_Integration_Tests.egg-info/*
apidocs/target
scripts/.cache/
scripts/.cinderclient/
scripts/.mysql_history
scripts/.troveclient/
conf.json
Vagrantfile
.my.cnf
.vagrant
.bash_history
.rnd
options.rc
.novaclient
*.log
.local.conf
scripts/local.conf.d/local.conf.d
*.config/
