{
    "devstack":null,
    "glance":null,
    "horizon":null,
    "keystone":null,
    "nova":null,
    "python_openstackclient":null,
    "python_novaclient":null,
    "trove":null,
    "python_troveclient":null,
    "tempest":null
}
